<mat-card class="mat-elevation-z8">
  <mat-card-content>
    <table mat-table class="data-table" [dataSource]="dataSource">
      <ng-container *ngFor="let column of tableService.getColumnsWithoutActions(displayedColumns); let i = index;">
        <ng-container [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef>
            {{labelsColumns[column]}}
          </th>
          <td mat-cell *matCellDef="let data" [ngSwitch]="column">
            <span *ngSwitchCase="'createdAt'">
              {{data[column] != undefined ? (data[column] | date: 'dd/MM/yyyy HH:mm') : '--'}}
            </span>
            <span *ngSwitchCase="'updatedAt'">
              {{data[column] != undefined ? (data[column] | date: 'dd/MM/yyyy HH:mm') : '--'}}
            </span>
            <span *ngSwitchCase="'pwdRecoveryDate'">
              {{data[column] != undefined ? (data[column] | date: 'dd/MM/yyyy HH:mm') : '--'}}
            </span>
            <span *ngSwitchCase="'active'" [ngClass]="{
              'data-table__text-error': !data[column],
              'data-table__text-success': data[column]
            }">
              {{data[column] ? ('label.yes' | appTranslate) : ('label.no' | appTranslate)}}
            </span>
            <span *ngSwitchDefault>
              {{data[column] != undefined && data[column].length > 0 ? data[column] : '--'}}
            </span>
          </td>
        </ng-container>
      </ng-container>
  
      <ng-container matColumnDef="actions" class="data-table__actions">
        <th mat-header-cell *matHeaderCellDef class="data-table__actions__th">
          <button mat-icon-button color="primary" 
            class="data-table__actions__th--action"
            (click)="onAddElement(data)" 
          >
            <mat-icon>add</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let data" class="data-table__actions__td">
          <button mat-icon-button color="primary" 
            class="data-table__actions__td--edit"
            (click)="onEditElement(data)" 
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" 
            class="data-table__actions__td--delete"
            (click)="onDeleteElement(data)" 
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <div class="table-paginator" [hidden]="!dataSource || !dataSource.data || dataSource.data.length == 0">
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 50]"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>

    <div class="no-data-table mt-3" [hidden]="dataSource && dataSource.data && dataSource.data.length > 0">
      <p class="no-data-table__title">{{'label.no.elements' | appTranslate}}</p>
    </div>
  </mat-card-content>
</mat-card>