.confirm-email {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__card {
        width: 450px;

        &--mobile {
            width: 325px !important;
        }

        &--title {
            padding-top: 2rem;
            padding-bottom: 1rem;
        }

        &--button {
            margin-top: 1rem;
            width: 100%;
        }

        &--link {
            border: none !important;
            font-size: 12px !important;
            display: block;
            margin-top: 0.5rem !important;
        }

        &--content {
            
        }
    }
}

.mt-10 {
    margin-top: 10px !important;
}

.mr-10 {
    margin-right: 10px !important;
}