<div class="request-password">
  <mat-card class="request-password__card mat-elevation-z8" [ngClass]="{
      'request-password__card--mobile': resolutionService.getMode() == resolutionService.resolutionConstants.MOBILE
    }"
  >
    <mat-card-title class="request-password__card--title">
      {{'label.request-password.component.card.title' | appTranslate}}
    </mat-card-title>

    <mat-card-content>
      <form [formGroup]="requestPasswordForm">
        <mat-form-field appearance="fill" class="d-block mt-2" [ngClass]="{
          'valid-input': !requestPasswordForm.controls.email.invalid
        }">
          <mat-label>{{'label.request-password.component.input.email' | appTranslate}}</mat-label>
          <input matInput [placeholder]="'label.request-password.component.input.email.placeholder' | appTranslate" formControlName="email">
          <mat-error *ngIf="requestPasswordForm.controls.email.invalid">
            {{formsService.getError('email', formErrors)}}
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" class="request-password__card--button" (click)="onClickSubmit()">
          {{'label.request-password.component.btn.request' | appTranslate}}
        </button>
        
        <a mat-stroked-button class="request-password__card--link" (click)="onClickGoLogin()">
          {{'label.request-password.component.btn.account' | appTranslate}}
        </a>
        <a mat-stroked-button class="request-password__card--link" (click)="onClickRegisterUser()">
          {{'label.request-password.component.btn.register' | appTranslate}}
        </a>
      </form>
    </mat-card-content>
  </mat-card>
</div>