.request-password {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__card {
        width: 400px;

        &--mobile {
            width: 300px !important;
        }

        &--title {
            padding-top: 2rem;
            padding-bottom: 1rem;
        }

        &--button {
            margin-top: 1rem;
            width: 100%;
        }

        &--link {
            border: none !important;
            font-size: 12px !important;
            display: block;
            margin-top: 0.5rem !important;
        }
    }
}